body{
    background: url(./files/fon.jpeg);
}

.pers{
    position: relative;
    top: 30px;
    right: 140px;
}
.cont{
    margin-left: 25%;
}

.un{
    position: relative;
    top: 100px;
    right: 180px;
}

.un2{
    position: relative;
    top: 180px;
    right: 180px;
}

#pause {
    margin-top: 40px;
    margin-left: 100px;
    position: absolute;
}

#menu_btn{
    padding-top: 120px;
    position: relative;
}


#home{
    margin-top: 110px;
    margin-left: 100px;
    position: absolute;
}

#scoreboard{
    margin-top: 130px;
    margin-left: 6px;
    position: absolute;
}

.text{
    color: rgb(14, 141, 141);
    font-size: 40px;
    font-family: verdana;
    letter-spacing: 4px;
}

.text_restart{
    color: rgb(14, 141, 141);
    font-size: 70px;
    font-family: verdana;
    letter-spacing: 9px;
    padding: 20px;
}

#text_lobby
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-emphasis-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 70px;
    padding-left: 845px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.playWindow {
	position: relative;
	display: flex;
	justify-content: center;
    vertical-align: top;
}

#wrapper {
    position: absolute;
    margin: 0, auto;
	border: solid rgb(14, 141, 141) 4px;
	overflow: hidden;
}

#menuGameOver{
    background: #232323;
    position: relative;
    padding-bottom: 20%;
    border: solid rgb(14, 141, 141) 4px;
}

canvas {
    cursor: none;
}

.wrapper1{
    padding-top: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    a{
        display: block;
        width: 200px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        font-family: sans-serif;
        text-decoration: none;
        color: #11333d;
        border: 2px solid #26a1c7;
        letter-spacing: 2px;
        text-align: center;
        position: relative;
        transition: all .35s;
      }
      
      a span{
        position: relative;
        z-index: 2;
      }
      
      a:after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: rgb(14, 141, 141);
        transition: all .35s;
      }
      
      a:hover{
        color: #fff;
      }
      
      a:hover:after{
        width: 100%;
      }
  }
.wrapper2{
    padding-top: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  a{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #11333d;
    border: 2px solid #26a1c7;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
  }
  
  a span{
    position: relative;
    z-index: 2;
  }
  
  a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(14, 141, 141);
    transition: all .35s;
  }
  
  a:hover{
    color: #fff;
  }
  
  a:hover:after{
    width: 100%;
  }

:root {
  --glow-color: hsl(186 100% 69%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.glowing-btn {
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 1em;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
}

.glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 3s linear infinite;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

.glowing-btn:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .glowing-btn{
    font-size: 1em;
  }
}
.jerk{
padding-top: 50px;
text-align: center;
}
.jerk2{
    padding-top: 250px;
    text-align: center;
    }
.home1{
display:flex;
justify-content:center;
align-items:center;
}
.home2{
display:flex;
justify-content:center;
align-items:center;
margin-top: 180px;
margin-left: 280px;
position: absolute;
}
.hm1{
    display:flex;
    justify-content:center;
    align-items:center;
    }
.hm2{
    padding-top: 150px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.hm3{
  padding-top: 150px;
  display:flex;
  justify-content:center;
  align-items:center;
}
.shiper{
    padding-right: 150px;
}
.cont{
    display:flex;
    justify-content:center;
    align-items:center;
    padding-right: 13%;
}